/* For development version only */
@import 'libs/components/src/styles/normalize';
@import 'libs/components/src/styles/global';
@import 'libs/components/src/styles/md3/tokens';

html[data-theme='light'] {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);

  --md-sys-color-primary-rgb: 0 107 85;
  --md-sys-color-primary-rgba: 0, 107, 85;
  --md-sys-color-surface-rgba: 248, 250, 247;
  --md-sys-color-on-surface-rgb: 25 28 27;
  --md-sys-color-on-surface-rgba: 25, 28, 27;
  --md-sys-color-surface-variant-rgba: 63, 73, 69;
  --md-sys-color-outline-rgb: 111 121 117;
  --md-sys-color-surface-container-highest-rgba: 225, 227, 224;
}

html[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);

  --md-sys-color-primary-rgb: 96 219 184;
  --md-sys-color-primary-rgba: 96, 219, 184;
  --md-sys-color-surface-rgba: 17, 20, 19;
  --md-sys-color-on-surface-rgb: 196 199 196;
  --md-sys-color-on-surface-rgba: 196, 199, 196;
  --md-sys-color-surface-variant-rgba: 63, 73, 69;
  --md-sys-color-outline-rgb: 137 147 142;
  --md-sys-color-surface-container-highest-rgba: 50, 54, 52;
}

// Custom
:root {
  --fafn-gutter: 1rem;

  --fafn-grid-xsmall: 0;
  --fafn-grid-small: 600px;
  --fafn-grid-medium: 960px;
  --fafn-grid-large: 1280px;
  --fafn-grid-xlarge: 1920px;
  --fafn-grid-handset-portrait: 0;
  --fafn-grid-handset-landscape: 0;
  --fafn-grid-tablet-portrait: 600px;
  --fafn-grid-tablet-landscape: 960px;
  --fafn-grid-web-portrait: 840px;
  --fafn-grid-web-landscape: 1280px;

  // RGB for --md-ref-palette-neutral0
  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-color-scrim-rgba: 0, 0, 0;

  // Missed
  --md-sys-elevation-0: 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-2: 0px 2px 4px -1px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 4px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 1px 10px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-3: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-4: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-5: 0px 8px 10px -6px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 16px 24px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 6px 30px 5px rgb(var(--md-sys-color-shadow-rgb) / 0.12);

  --md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);
  --md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);
  --md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);
  --md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);
  --md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);

  --md-sys-shape-corner-extra-small-top: 4px 4px 0px 0px;
  --md-sys-shape-corner-extra-small: 4px 4px 4px 4px;
  --md-sys-shape-corner-large: 16px 16px 16px 16px;
  --md-sys-shape-corner-none: 0px 0px 0px 0px;
  --md-sys-shape-corner-large-start: 16px 0px 0px 16px;
  --md-sys-shape-corner-medium: 12px 12px 12px 12px;
  --md-sys-shape-corner-small: 8px 8px 8px 8px;
  --md-sys-shape-corner-large-end: 0px 16px 16px 0px;
  --md-sys-shape-corner-large-top: 16px 16px 0px 0px;
  --md-sys-shape-corner-extra-large: 28px 28px 28px 28px;
  --md-sys-shape-corner-extra-large-top: 28px 28px 0px 0px;
  --md-sys-shape-corner-full: 50%; /* Linear */
  --md-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1); /* Standard */
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-duration-short1: 50;
  --md-sys-motion-duration-short2: 100;
  --md-sys-motion-duration-short3: 150;
  --md-sys-motion-duration-short4: 200;
  --md-sys-motion-duration-medium1: 250;
  --md-sys-motion-duration-medium2: 300;
  --md-sys-motion-duration-medium3: 350;
  --md-sys-motion-duration-medium4: 400;
  --md-sys-motion-duration-long1: 450;
  --md-sys-motion-duration-long2: 500;
  --md-sys-motion-duration-long3: 550;
  --md-sys-motion-duration-long4: 600;
  --md-sys-motion-duration-extra-long1: 700;
  --md-sys-motion-duration-extra-long2: 800;
  --md-sys-motion-duration-extra-long3: 900;
  --md-sys-motion-duration-extra-long4: 1000;
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);

  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.12;
  --md-sys-state-pressed-state-layer-opacity: 0.12;
  --md-sys-state-dragged-state-layer-opacity: 0.16;
  --md-sys-elevation-level0: 0px;
  --md-sys-elevation-level1: 1px;
  --md-sys-elevation-level2: 3px;
  --md-sys-elevation-level3: 6px;
  --md-sys-elevation-level4: 8px;
  --md-sys-elevation-level5: 12px;
  //--md-sys-state-hover-color: rgb(var(--md-sys-color-surface-tint-rgb) / var(--md-sys-state-hover-state-layer-opacity));
  //--md-sys-state-active-color: rgb(var(--md-sys-color-surface-tint-rgb) / var(--md-sys-state-pressed-state-layer-opacity));
  //--md-sys-state-focus-color: rgb(var(--md-sys-color-surface-tint-rgb) / var(--md-sys-state-focus-state-layer-opacity));
}

html {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}
